kaggle competition: [Predict Future Sales](https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data?select=sample_submission.csv)

Predicting future sales using SKlearn Regression model.

In [49]:
# 数値計算に必要なライブラリ
import numpy as np
import pandas as pd
# グラフを描画するパッケージ
import matplotlib.pyplot as plt
# 機械学習ライブラリscikit-learnの線形モデル
from sklearn.linear_model import LinearRegression

In [50]:
# show sample submission data

df = pd.read_csv('../data/sample_submission.csv')
print(df)

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
...        ...             ...
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]

In [51]:
item_df = pd.read_csv("../data/items.csv")
date_train_df = pd.read_csv('../data/sales_train.csv')

In [70]:
grouped = date_train_df.groupby(["shop_id", "item_id",])

In [76]:
grouped.sum()

                 date_block_num  item_price  item_cnt_day
shop_id item_id
0       30                    9      2385.0          31.0
        31                    7      3038.0          11.0
        32                    7      2431.0          16.0
        33                    3      2082.0           6.0
        35                   11      2964.0          15.0
...                         ...         ...           ...
59      22154                 0       999.0           1.0
        22155                 6       149.0           1.0
        22162               415      6234.0          16.0
        22164               160      4344.0           6.0
        22167                48      1196.0           4.0

[424124 rows x 3 columns]

In [58]:
X = date_train_df.drop(["item_cnt_day", "date"], axis=1)
Y = date_train_df["item_cnt_day"]
print(X.head())
print(Y.head())

   date_block_num  shop_id  item_id  item_price
0               0       59    22154      999.00
1               0       25     2552      899.00
2               0       25     2552      899.00
3               0       25     2554     1709.05
4               0       25     2555     1099.00
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: item_cnt_day, dtype: float64

In [59]:
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

In [62]:
model.score(X,Y)

0.0005609601431084688

In [63]:
model.predict(X)

array([1.28326571, 1.16509012, 1.16509012, ..., 1.26496768, 1.26381346,
       1.26396384])